<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.yummymelon.CapteeHelp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Captee Help</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>HPDBookAccessPath</key>
	<string>CapteeUserGuide.html</string>
	<key>HPDBookCSIndexPath</key>
	<string>Captee.cshelpindex</string>
	<key>HPDBookIndexPath</key>
	<string>Captee.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string>Captee1</string>
	<key>HPDBookTitle</key>
	<string>Captee Help</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
