<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleHelpBookFolder</key>
	<string>Captee.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.yummymelon.CapteeHelp</string>
</dict>
</plist>
